.App {
  text-align: center;
}

.addTask{
  background-color: rgb(60, 60, 199);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list{
  background-color: red;
}

.complete{
  background-color: green;
}